.icon-alert{

  margin: 0 auto;
  width:var(--width-icon-alert);
  height:var(--width-icon-alert);
  background-color: #fff;
  border-radius: 50%;
 
  display: flex;
  justify-content: center;
  align-items: center;
 img{ transform: scale(1.3);
opacity:.4}
}

