:root{
  --disabled: #ccc;
  --color-dark:#212529;
  --wrapper: 576px;
  --min-wrapper: 420px;
  --color-item-disabled: var(--disabled);
  --width-icon-alert:6rem;
  --height-navbar: 4rem;
  // Formulario
  --color-error: var(--bs-danger);
  --color-success: var(--bs-success);
  --right-icon-input:0;
}


// Bootstrap
$list-group-disabled-color: var(--color-item-disabled);
$btn-link-color: #000;
$btn-link-hover-color: #333;

